body {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(234, 249, 249, 0.67) 0.1%,
    rgba(239, 249, 251, 0.63) 90.1%
  );
}
.container {
  display: block;
  margin: 0 379px;
  max-width: 700px;
}
.card {
  display: block;
  margin: 0 auto;
  margin-top: 90px;
  padding: 30px;
  border: #ccc 1px solid;
}
form {
  text-align: center;
}
input {
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 5px 20px;
}
.left-section {
  font-size: 60px;
  margin-left: -10px;
}
#icon {
  font-size: 30px;
  position: relative;
  top: -5px;
}
.right-section {
  text-transform: capitalize;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 400;
  text-align: right;
  margin-right: 27px;
}
.current-date,
.current-weather {
  text-transform: capitalize;
  font-size: 19px;
  line-height: 0.8;
  text-align: right;
  font-weight: 400;
  color: #707582;
  margin-right: 27px;
}
.deg {
  font-size: 16px;
  position: relative;
  top: -32px;
}
a {
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  color: #212529;
}
.stats {
  font-weight: 300;
  font-size: 15px;
  position: relative;
  bottom: -7px;
}

.forecast {
  font-size: 20px;
  text-align: center;
}
.emoji-forecast {
  font-size: 36px;
}
#location {
  color: white;
  background: #43c8e0;
  border: 2px solid #ccc;
}
#search {
  border: 2px solid #ccc;
}
