body {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(234, 249, 249, 0.67) 0.1%,
    rgba(239, 249, 251, 0.63) 90.1%
  );
}
.container {
  display: block;
  margin: 0 379px;
  width: 100%;
  max-width: 600px;
}
.card {
  display: block;
  margin: 0 auto;
  margin-top: 90px;
  padding: 30px;
  border: #ccc 1px solid;
}
form {
  text-align: center;
}
input {
  text-align: center;
  border-radius: 4px;
  padding: 5px 20px;
}
.left-section {
  font-size: 66px;
  margin-left: -10px;
}
#icon {
  font-size: 30px;
  position: relative;
  top: -5px;
}
#info {
  position: relative;
  bottom: -11px;
}
.right-section {
  text-transform: capitalize;
  font-size: 26px;
  font-weight: 380;
  text-align: right;
  margin-right: 27px;
  line-height: 0.8;
}

.current-date,
.current-weather {
  text-transform: capitalize;
  font-size: 18px;
  text-align: right;
  font-weight: 360;
  opacity: 0.7;
  margin-right: 27px;
  line-height: 0.8;
}
.deg {
  font-size: 16px;
  position: relative;
  top: -32px;
}

a {
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
.stats {
  font-weight: 300;
  font-size: 15px;
  position: relative;
  bottom: -17px;
  line-height: 0.8;
}

.forecast {
  font-size: 20px;
  text-align: center;
}
.emoji-forecast {
  font-size: 36px;
}
#location {
  color: white;
  background: #0492c2;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
